*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-size: 1800px; */
  background-image: url("https://intuitiveharmonymedicine.com/wp-content/uploads/2020/10/seamlessvectorstars-1024x819.png");
}
/* background-image: linear-gradient( 135deg, #8761df 10%, #b63ee6 100%);} */

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
  font-size: 25px;
  color: white;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: white;
  font-size: 55px;
}

#BallCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  margin-right: 50px;
  width: 30%;
  height: 35px;
  border: 3px solid blueviolet;
  border-radius: 3px;
  font-size: 25px;
  margin-bottom: 40px;
  margin-right: 10px;
}

.submit {
  background-color: #ff3cac;
  color: white;
  display: block;
  margin-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 3px rgba(23, 0, 87, 0.5);
  font-size: 25px;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
#theBall {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 450px;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(-7deg);
  }
  10% {
    transform: translate(-1px, -21px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 10px) rotate(3deg);
  }
  30% {
    transform: translate(13px, 2px) rotate(-7deg);
  }
  40% {
    transform: translate(1px, -11px) rotate(4deg);
  }
  50% {
    transform: translate(-11px, 2px) rotate(-11deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 11px) rotate(-15deg);
  }
  80% {
    transform: translate(-1px, -11px) rotate(3deg);
  }
  90% {
    transform: translate(11px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -21px) rotate(-3deg);
  }
}

/* end ball */

#answerContainerId {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  background-color: #ff3cac;
  display: block;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 80px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 3px rgba(23, 0, 87, 0.5);
  font-size: 25px;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

/* below are media screens */

@media only screen and (max-width: 799px) {
  .magic8Ball {
    max-width: 60%;
    max-height: 60%;
  }
}

@media screen and (min-width: 800px) {
  .magic8Ball {
    min-width: 20%;
    min-height: 20%;
    max-width: 600px;
    max-height: 600px;
    margin-bottom: 30px;
  }
}
